@using ObligatorioP3WebApplication.Models
@model CabañaModel[]
<!--NullReferenceException: Object reference not set to an instance of an object-->
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Numero de habitacion
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Capacidad
                </th>
                <th>
                    Posee jacuzzi
                </th>
                <th>
                    Nombre del tipo
                </th>
                <th>
                    Costo por persona
                </th>
                <th>
                    Habilitada para reservas
                </th>
                <th>
                    Foto
                </th>
                <th>
                    Relizar mantenimiento
                </th>
                <th>
                    Ver mantenimientos
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (CabañaModel item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroHabitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacidad)
                    </td>
                    <td>
                        @if (item.poseeJacuzzi)
                        {
                            <p>Si</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCabaña.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCabaña.costoXHuesped)
                    </td>
                    <td>
                        @{
                            if (item.habilitada)
                            {
                                <p>Si</p>
                            }
                            else
                            {
                                <p>No</p>
                            }
                        }
                    </td>
                    <td>
                        <img width="250px" class="img-thumbnail" src="~/Imagenes/Fotos/@item.Fotos.Valor" />
                    </td>
                    <td>
                        @Html.ActionLink("Realizar mantenimiento", "HacerMantenimiento", "Mantenimiento", new {id = item.numeroHabitacion})
                    </td>
                    <td>
                        @Html.ActionLink("Ver mantenimientos", "VerMantenimientos", "Mantenimiento", new {id = item.numeroHabitacion})
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert-danger">
        No se encontraron cabañas de ese tipo
    </div>
}

<a asp-controller="Cabana" asp-action="BuscarCabanasPor">Volver</a>